.About {
  line-height: 1.5;
  margin: auto;
  padding: 20px;
  text-align: justify;
  text-justify: inter-word;
  width: 55%;
}

.About__title {
  margin-bottom: 20px;
}

.About__text-pic {
  align-items: flex-start;
  display: flex;
  margin-bottom: 20px;
}

.About__text-pic .text {
  /* padding: 20px 0; */
  margin-right: 30px;
  padding-top: 10px;
}

.img-wrap {
  text-align: center;
  margin: 70px 0;
}

.img-wrap img {
  border-radius: 5px;
  margin-left: 20px;
  width: 300px;
}
