.Login {
  margin: auto;
  padding: 20px;
  width: 600px;
}

.Login__title {
  margin-bottom: 30px;
}

form .MuiOutlinedInput-root {
  margin-bottom: 20px;
  width: 400px;
}


form .MuiOutlinedInput-root {
  display: flex;
}

form .MuiButton-root {
  background-color: var(--color-dark);
  font-family: var(--font-text);
}

form .MuiButton-root:hover {
  background-color: var(--color-dark);
  opacity: 0.9;
}