.Login {
  margin: auto;
  padding: 20px;
  width: 600px;
}

.Login__title {
  margin-bottom: 30px;
}

form 	.MuiTextField-root,
form .MuiOutlinedInput-root {
  margin-bottom: 20px;
  width: 300px;
}

form 	.MuiTextField-root {
  display: block;
}

form .MuiOutlinedInput-root {
  display: flex;
}