.Article {
  display: flex;
}

.pattern {
  width: 400px;
  background-image: url('../../assets/img/muster-1.png');
}

.Article__content {
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  width: 50%;

  font-size: 1.4rem;
  font-family: 'Twinkle Star';
  /* font-family: 'Dancing Script'; */
}

.Article__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Article__header__ctrl button {
  display: block;
  width: 100px;
}

.Article__header__title__date {
  color: gray;
  display: block;
  font-size: 0.8rem;
}

.Article__image-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.Article__image-wrap img {
  max-width: 40%;
  max-height: 500px;
}