.Article {
  padding: 20px;
}

.Article__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Article__header__ctrl button {
  display: block;
  width: 100px;
}

.Article__header__title__date {
  color: gray;
  display: block;
  font-size: 0.8rem;
}

.Article__image-wrap {
  margin-bottom: 20px;
  margin-top: 20px;
}

.Article__image-wrap img {
  max-width: 80%;
  max-height: 500px;
}