.thumbs {
  display: flex;
  padding: 20px;
}

.thumb {
  border: 1px solid gray;
  border-radius: 5px;
  display: inline-flex;
  margin: 15px;
  padding: 10px;
  width: 500px;
}

.thumb_img-wrap {
  height: 100px;
  width: 100px;
}

.thumb_img-wrap img {
  height: inherit;
  width: inherit;
}