.thumb {
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;

  /* font-family: 'Twinkle Star'; */
  /* font-family: 'Dancing Script'; */

  margin: 15px;
  padding: 10px;
  text-align: left;
  width: 500px;
}

.thumb_img-wrap {
  height: 100px;
  width: 100px;
}

.thumb_img-wrap img {
  height: inherit;
  width: inherit;
}