.thumb {
  border-bottom: 2px solid gray;
  cursor: pointer;
  display: inline-flex; justify-content: space-between;

  /* font-family: 'Twinkle Star'; */
  /* font-family: 'Dancing Script'; */

  margin: 15px;
  padding: 10px;
  text-align: left;
  width: 600px;
}

.thumb__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.thumb__text__date {
  color: gray;
  display: block;
  font-size: 0.9rem;
}

.thumb_img-wrap {
  width: 150px;
}
.thumb_img-wrap img {
  width: inherit;
}