.Admin {
  font-size: 1.4rem;
  padding: 20px;
}

.form {
  padding: 20px;
  width: 500px;
}

.form-ctrl {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.form-ctrl label {
  margin-right: 10px;
}